.footer{
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #001936;
}

.footer-block{
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.footer-block a{
  color: #fff;
}

.footer-block a:hover{
  color: #fff;
  text-decoration: none;
}

.footer-block li{
  list-style-type: none;
  padding: 5px 0;
}

.social-icons-footer{
  margin: 0 5px;
}

.nurpress-icon-footer{
  margin-left: 30px;
  width: 15%;
}